<% if @error %>
<p><%= @error %></p>
<% end %>

<%= form_tag(login_path) do %>
<h4>Username:</h4>
<%= text_field_tag("username") %><br /><br />
<h4>Password:</h4>
<%= password_field_tag("password") %><br /><br />
<%= submit_tag("Login", :class =>"btn btn-primary") %>
<% end %> <br>
<%= link_to("Cancel", root_path)%>