<h1>Welcome to your awesome closet!</h1>

<ul>
  <% @tops.each do |top| %>
  <li>
    <%= top.name %>
  </li>
  <li>
    <%= top.color %>
  </li>
  <li>
    <%= image_tag top.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @bottoms.each do |bottom| %>
  <li>
    <%= bottom.name %>
  </li>
  <li>
    <%= bottom.color %>
  </li>
  <li>
    <%= image_tag bottom.image %>
  </li>
  <br>
  <% end %>
</ul>


<ul>
  <% @dr.each do |item| %>
  <li>
    <%= item.name %>
  </li>
  <li>
    <%= item.color %>
  </li>
  <li>
    <%= image_tag item.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @suits.each do |suit| %>
  <li>
    <%= suit.name %>
  </li>
  <li>
    <%= suit.color %>
  </li>
  <li>
    <%= image_tag suit.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @cj.each do |item| %>
  <li>
    <%= item.name %>
  </li>
  <li>
    <%= item.color %>
  </li>
  <li>
    <%= image_tag item.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @shoes.each do |item| %>
  <li>
    <%= item.name %>
  </li>
  <li>
    <%= item.color %>
  </li>
  <li>
    <%= image_tag item.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @acc.each do |item| %>
  <li>
    <%= item.name %>
  </li>
  <li>
    <%= item.color %>
  </li>
  <li>
    <%= image_tag item.image %>
  </li>
  <br>
  <% end %>
</ul>