<!DOCTYPE html>
<html>
    <head>
        <div class="container">
            <h2> Welcome to Your Closet! </h2>
        </div>
    </head>

    <body>
        <div class="container">
          <% @tops.each do |top| %>
            <%= image_tag(top.image, height: 200) %>
            <h4> <%= link_to(top.name, piece_path(top)) %> (<%= top.color %>) </h4>
          <% end %>
        </div> 





    </body>
</html>




<ul>
  <% @tops.each do |top| %>
  <li>
    <%= top.name %>
  </li>
  <li>
    <%= top.color %>
  </li>
  <li>
    <%= image_tag top.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @bottoms.each do |bottom| %>
  <li>
    <%= bottom.name %>
  </li>
  <li>
    <%= bottom.color %>
  </li>
  <li>
    <%= image_tag bottom.image %>
  </li>
  <br>
  <% end %>
</ul>


<ul>
  <% @dr.each do |item| %>
  <li>
    <%= item.name %>
  </li>
  <li>
    <%= item.color %>
  </li>
  <li>
    <%= image_tag item.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @suits.each do |suit| %>
  <li>
    <%= suit.name %>
  </li>
  <li>
    <%= suit.color %>
  </li>
  <li>
    <%= image_tag suit.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @cj.each do |item| %>
  <li>
    <%= item.name %>
  </li>
  <li>
    <%= item.color %>
  </li>
  <li>
    <%= image_tag item.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @shoes.each do |item| %>
  <li>
    <%= item.name %>
  </li>
  <li>
    <%= item.color %>
  </li>
  <li>
    <%= image_tag item.image %>
  </li>
  <br>
  <% end %>
</ul>

<ul>
  <% @acc.each do |item| %>
  <li>
    <%= item.name %>
  </li>
  <li>
    <%= item.color %>
  </li>
  <li>
    <%= image_tag item.image %>
  </li>
  <br>
  <% end %>
</ul>