<!DOCTYPE html>
<html>
    <head>
        <div class="container">
            <h2> Welcome to Your Closet! </h2>
        </div>
    </head>

    <body>
        <div class="container" id="pieces-container">

          <div class="piece-container">
            <h3>Your Tops:</h3>
            <div class='type-container'>
              <% @tops.each do |item| %>
                <div class='piece-card'>
                  <%= image_tag(item.image) %> 
                  <h4> <%= link_to(item.name, piece_path(item)) %> (<%= item.color %>) </h4>
                </div>
              <% end %>
            </div>
          </div> 
            
          <div class="piece-container">
            <h3>Your Bottoms:</h3>
            <div class='type-container'>
              <% @bottoms.each do |item| %>
                <div class='piece-card'>
                  <%= image_tag(item.image) %>
                  <h4> <%= link_to(item.name, piece_path(item)) %> (<%= item.color %>) </h4>
                </div>
                <%end %>   
            </div>
          </div>        
        
          <div class="piece-container"> 
            <h3>Your Dresses & Rompers:</h3>
            <div class='type-container'>
              <% @dr.each do |item| %>
                <div class='piece-card'>
                  <%= image_tag(item.image, height: 200) %>
                  <h4> <%= link_to(item.name, piece_path(item)) %> (<%= item.color %>) </h4>
                </div>
                <%end %>  
            </div>      
          </div>      
          
          <div class="piece-container">
            <h3>Your Suits:</h3>
            <div class='type-container'>
              <% @suits.each do |item| %>
                <div class='piece-card'>
                  <%= image_tag(item.image, height: 200) %>
                  <h4> <%= link_to(item.name, piece_path(item)) %> (<%= item.color %>) </h4>
                </div>
              <% end %>
            </div>
          </div>
            
          <div class="piece-container">
            <h3>Your Coats & Jackets:</h3>
            <div class='type-container'>
              <% @cj.each do |item| %>
                <div class='piece-card'>
                  <%= image_tag(item.image, height: 200) %>
                  <h4> <%= link_to(item.name, piece_path(item)) %> (<%= item.color %>) </h4>
                </div>
              <% end %>
            </div>
          </div>

          <div class="piece-container">
            <h3>Your Shoes:</h3>
            <div class='type-container'>
              <% @shoes.each do |item| %>
                <div class='piece-card'>
                  <%= image_tag(item.image, height: 200) %>
                  <h4> <%= link_to(item.name, piece_path(item)) %> (<%= item.color %>) </h4>
                </div>
              <% end %>
            </div>
          </div>
            
          <div class="piece-container">
            <h3>Your Accessories:</h3>
            <div class='type-container'>
              <% @acc.each do |item| %>
                <div class='piece-card'>
                  <%= image_tag(item.image, height: 200) %>
                  <h4> <%= link_to(item.name, piece_path(item)) %> (<%= item.color %>) </h4>
                </div>
              <% end %>
            <div>
          </div>

        </div> 
    </body>
</html>